{% extends 'base.html' %}

{% block product %}
<a class="button is-primary" href="{% url 'entrada:notaEntradaNew' %}">Novo</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Produto</th>
            <th>Cor</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for nota_entrada in notas_entrada %}
        <tr>
            <td>{{ nota_entrada.id }}</td>
            <td>{{ nota_entrada.produto }}</td>
            <td>{{ nota_entrada.cor }}</td>
            <td>{{ nota_entrada.preco }}</td>
            <td>{{ nota_entrada.quantidade }}</td>
            <td><a class="button is-primary" href="{% url 'entrada:notaEntradaUpdate' nota_entrada.id %}">alterar</a></td>
            <td><a class="button is-primary" href="{% url 'entrada:notaEntradaDelete' nota_entrada.id %}">deletar</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}